h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp1fef8e7{ color:#FFFFFF; text-decoration: none} 
		a.wsp1fef8e7:visited{ color:#FFFFFF; text-decoration: underline} 
		a.wsp1fef8e7:active{ color:#FFFFFF; text-decoration: underline} 
		a.wsp1fef8e7:hover{ color:#FFFF80; text-decoration: underline} 
body { background-color:#C0C0CC; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_14e88ee0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background:none;  }
.textstyle2 { text-align:left; }
#container_75efadc6 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:63px; background-color:#004040;  }
#container_75efadc6_padding { margin: 10px; display: block;  }
#container_5640478c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:60px; background:none;  }
#container_5640478c_padding { margin: 10px; display: block;  }
#container_61d4c6b3 { vertical-align: top; position:relative; display: inline-block; width:24%; min-height:49px; background:none;  }
#container_61d4c6b3_padding { margin: 10px; display: block;  }
#img_11e60731 { vertical-align: bottom; position:relative; display: inline-block; width:19%; background:none; height:auto;  }
#heading_7c4b71e { vertical-align: bottom; position:relative; display: inline-block; width:208px; background:none; font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#F3F3F5; text-align:left; font-style:italic; font-weight:bold;  }
#container_722b2bda { vertical-align: bottom; position:relative; display: inline-block; width:38%; min-height:64px; background:none;  }
#container_722b2bda_padding { margin: 10px; display: block;  }
#heading_76c03d5e { vertical-align: bottom; position:relative; display: inline-block; width:393px; background:none; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-align:center; font-weight:bold;  }
#container_626e4233 { vertical-align: top; position:relative; display: inline-block; width:36%; min-height:49px; background:none;  }
#container_626e4233_padding { margin: 10px; display: block;  }
#container_5e6975ff { vertical-align: top; position:relative; display: inline-block; width:47%; min-height:45px; background:none;  }
#container_5e6975ff_padding { margin: 10px; display: block;  }
#edit_13c9e25a { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:161px; height:30px; background-color:#FFFFFF; border: 1px solid #A0A0A0; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_76372fca { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:50px; background:none;  }
#container_76372fca_padding { margin: 10px; display: block;  }
#button_3ca701ed { vertical-align: bottom; position:relative; display: inline-block; width:75px; height:30px; background-color:#657F64; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_62a75dad { vertical-align: top; position:relative; display: inline-block; width:22%; min-height:45px; background:none;  }
#container_62a75dad_padding { margin: 10px; display: block;  }
#button_53cd3756 { vertical-align: bottom; position:relative; display: inline-block; width:75px; height:30px; background-color:#657F64; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_8250a81 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:748px; background-color:#FFFFFF; background-image: url(rc_images/andreas_niendorf_4wbkrmdjfu0_unsplash_1200x531.jpg); background-position:top left; background-size:cover;  }
#container_8250a81_padding { margin: 10px; display: block;  }
#container_1fd37729 { vertical-align: top; position:relative; display: inline-block; width:8%; min-height:643px; background:none;  }
#container_1fd37729_padding { margin: 10px; display: block;  }
#container_593f5171 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:298px; background:none;  }
#container_593f5171_padding { margin: 10px; display: block;  }
#container_250929e8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:55px; background:none;  }
#container_250929e8_padding { margin: 10px; display: block;  }
#img_74c5dc35 { vertical-align: bottom; position:relative; display: inline-block; width:59%; background:none; height:auto;  }
#container_6b0ba376 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:55px; background:none;  }
#container_6b0ba376_padding { margin: 10px; display: block;  }
#img_367bebf6 { vertical-align: bottom; position:relative; display: inline-block; width:59%; background:none; height:auto;  }
#container_6a0088e0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:55px; background:none;  }
#container_6a0088e0_padding { margin: 10px; display: block;  }
#img_5d7cbe12 { vertical-align: bottom; position:relative; display: inline-block; width:59%; background:none; height:auto;  }
#container_18a53080 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:55px; background:none;  }
#container_18a53080_padding { margin: 10px; display: block;  }
#img_717efdca { vertical-align: bottom; position:relative; display: inline-block; width:59%; background:none; height:auto;  }
#container_e35a6f1 { vertical-align: top; position:relative; display: inline-block; width:73%; min-height:570px; background:none;  }
#container_e35a6f1_padding { margin: 10px; display: block;  }
#heading_283d0531 { vertical-align: bottom; position:relative; display: inline-block; width:865px; height:93px; background:none; font-size:44pt; font-family:'Times New Roman', Times, serif; color:#FFFFFF; text-align:left; font-weight:bold;  }
#heading_66675b11 { vertical-align: bottom; position:relative; display: inline-block; width:899px; height:172px; background:none; font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-align:left;  }
#container_4c63728e { vertical-align: top; position:relative; display: inline-block; width:5%; min-height:150px; background:none;  }
#container_4c63728e_padding { margin: 10px; display: block;  }
#container_73cb5bf { vertical-align: top; position:relative; display: inline-block; width:17%; min-height:150px; background:none;  }
#container_73cb5bf_padding { margin: 10px; display: block;  }
#heading_5ad1743c { vertical-align: bottom; position:relative; display: inline-block; width:104px; height:101px; background:none; font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#F3F3F5; text-align:right; font-weight:bold;  }
#container_73249144 { vertical-align: top; position:relative; display: inline-block; width:24%; min-height:182px; background:none;  }
#container_73249144_padding { margin: 10px; display: block;  }
#container_6f510895 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:44px; background-color:#FFFFFF;  }
#container_6f510895_padding { margin: 10px; display: block;  }
#img_8033757 { vertical-align: bottom; position:relative; display: inline-block; width:88%; background:none; height:auto;  }
#container_34042f14 { vertical-align: top; position:relative; display: inline-block; width:65%; min-height:44px; background:none;  }
#container_34042f14_padding { margin: 10px; display: block;  }
#heading_68473273 { vertical-align: bottom; position:relative; display: inline-block; width:113px; height:31px; background:none; font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-align:left; font-weight:bold;  }
#container_2b8ad0d3 { vertical-align: top; position:relative; display: inline-block; width:95%; min-height:36px; background:none;  }
#container_2b8ad0d3_padding { margin: 10px; display: block;  }
#heading_3310436c { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#F3F3F5; text-align:left;  }
#container_1fc3bde7 { vertical-align: top; position:relative; display: inline-block; width:95%; min-height:44px; background:none;  }
#container_1fc3bde7_padding { margin: 10px; display: block;  }
#button_4867e833 { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; width:150px; height:40px; background-color:#C0C0C0; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#container_4a51962e { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:212px; background:none;  }
#container_4a51962e_padding { margin: 10px; display: block;  }
#container_30cd4bd2 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:44px; background-color:#FFFFFF;  }
#container_30cd4bd2_padding { margin: 10px; display: block;  }
#img_38b2d1f2 { vertical-align: bottom; position:relative; display: inline-block; width:88%; background:none; height:auto;  }
#container_6847f1d0 { vertical-align: top; position:relative; display: inline-block; width:65%; min-height:44px; background:none;  }
#container_6847f1d0_padding { margin: 10px; display: block;  }
#heading_4c4ecec7 { vertical-align: bottom; position:relative; display: inline-block; width:119px; height:31px; background:none; font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-align:left; font-weight:bold;  }
#container_7eba60fe { vertical-align: top; position:relative; display: inline-block; width:95%; min-height:36px; background:none;  }
#container_7eba60fe_padding { margin: 10px; display: block;  }
#heading_521a477f { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#F3F3F5; text-align:left;  }
#container_d0123cd { vertical-align: top; position:relative; display: inline-block; width:95%; min-height:44px; background:none;  }
#container_d0123cd_padding { margin: 10px; display: block;  }
#button_193e5a5a { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; width:150px; height:40px; background-color:#C0C0C0; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
#container_7ae82997 { vertical-align: top; position:relative; display: inline-block; width:29%; min-height:212px; background:none;  }
#container_7ae82997_padding { margin: 10px; display: block;  }
#container_6f87498c { vertical-align: top; position:relative; display: inline-block; width:26%; min-height:50px; background-color:#FFFFFF;  }
#container_6f87498c_padding { margin: 10px; display: block;  }
#img_4cdd36f7 { vertical-align: bottom; position:relative; display: inline-block; width:88%; background:none; height:auto;  }
#container_4b21ac47 { vertical-align: top; position:relative; display: inline-block; width:65%; min-height:44px; background:none;  }
#container_4b21ac47_padding { margin: 10px; display: block;  }
#heading_64c6c498 { vertical-align: bottom; position:relative; display: inline-block; width:171px; height:22px; background:none; font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-align:left; font-weight:bold;  }
#container_4864e083 { vertical-align: top; position:relative; display: inline-block; width:95%; min-height:36px; background:none;  }
#container_4864e083_padding { margin: 10px; display: block;  }
#heading_430e4792 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#F3F3F5; text-align:left;  }
#container_9038ba { vertical-align: top; position:relative; display: inline-block; width:95%; min-height:44px; background:none;  }
#container_9038ba_padding { margin: 10px; display: block;  }
#button_c798b63 { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; width:150px; height:40px; background-color:#C0C0C0; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
.textstyle4 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.196078);  }
.textstyle5 { font-size:26pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.196078);  }
#container_4bd8ccd3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#F3F3F5;  }
#container_4bd8ccd3_padding { margin: 10px; display: block;  }
.textstyle6 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-weight:bold;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#heading_4710ac38 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
