h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp1fef8e7{ color:#FFFFFF; text-decoration: none} 
		a.wsp1fef8e7:visited{ color:#FFFFFF; text-decoration: underline} 
		a.wsp1fef8e7:active{ color:#FFFFFF; text-decoration: underline} 
		a.wsp1fef8e7:hover{ color:#FFFF80; text-decoration: underline} 
body { background-color:#C0C0CC; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_4a5a90a8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background:none;  }
.textstyle2 { text-align:left; }
#container_43f35ecd { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:63px; background-color:#004040;  }
#container_43f35ecd_padding { margin: 10px; display: block;  }
#container_78caf3bd { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:60px; background:none;  }
#container_78caf3bd_padding { margin: 10px; display: block;  }
#container_6470dc24 { vertical-align: top; position:relative; display: inline-block; width:24%; min-height:49px; background:none;  }
#container_6470dc24_padding { margin: 10px; display: block;  }
#img_63e95b3a { vertical-align: bottom; position:relative; display: inline-block; width:19%; background:none; height:auto;  }
#heading_41316cca { vertical-align: bottom; position:relative; display: inline-block; width:208px; background:none; font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#F3F3F5; text-align:left; font-style:italic; font-weight:bold;  }
#container_2b21313a { vertical-align: bottom; position:relative; display: inline-block; width:38%; min-height:93px; background:none;  }
#container_2b21313a_padding { margin: 10px; display: block;  }
#heading_1838cf5f { vertical-align: bottom; position:relative; display: inline-block; width:428px; height:30px; background:none;  }
.textstyle3 { text-align:left;display: block }
#container_52a573a4 { vertical-align: top; position:relative; display: inline-block; width:32%; min-height:49px; background:none;  }
#container_52a573a4_padding { margin: 10px; display: block;  }
.textstyle4 { text-align:center;display: block }
.textstyle5 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#container_121cac33 { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:49px; background:none;  }
#container_121cac33_padding { margin: 10px; display: block;  }
#container_316fdd3f { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:42px; background:none;  }
#container_316fdd3f_padding { margin: 10px; display: block;  }
#container_6f4409d4 { vertical-align: top; position:relative; display: inline-block; width:36%; min-height:49px; background:none;  }
#container_6f4409d4_padding { margin: 10px; display: block;  }
#container_b709adc { vertical-align: top; position:relative; display: inline-block; width:47%; min-height:45px; background:none;  }
#container_b709adc_padding { margin: 10px; display: block;  }
#edit_66f53244 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:161px; height:30px; background-color:#FFFFFF; border: 1px solid #A0A0A0; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_77363bda { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:50px; background:none;  }
#container_77363bda_padding { margin: 10px; display: block;  }
#button_19319582 { vertical-align: bottom; position:relative; display: inline-block; width:75px; height:30px; background-color:#657F64; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_1da729e9 { vertical-align: top; position:relative; display: inline-block; width:22%; min-height:45px; background:none;  }
#container_1da729e9_padding { margin: 10px; display: block;  }
#button_6f559056 { vertical-align: bottom; position:relative; display: inline-block; width:75px; height:30px; background-color:#657F64; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_6d291f31 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:748px; background-color:#FFFFFF; background-image: url(rc_images/andreas_niendorf_4wbkrmdjfu0_unsplash_1200x531.jpg); background-position:top left; background-size:cover;  }
#container_6d291f31_padding { margin: 10px; display: block;  }
#container_6cf5d1d2 { vertical-align: top; position:relative; display: inline-block; width:8%; min-height:643px; background:none;  }
#container_6cf5d1d2_padding { margin: 10px; display: block;  }
#container_124f33ff { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:298px; background:none;  }
#container_124f33ff_padding { margin: 10px; display: block;  }
#container_55ab0de8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:55px; background:none;  }
#container_55ab0de8_padding { margin: 10px; display: block;  }
#img_3a05ea72 { vertical-align: bottom; position:relative; display: inline-block; width:59%; background:none; height:auto;  }
#container_749be54d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:55px; background:none;  }
#container_749be54d_padding { margin: 10px; display: block;  }
#img_5ca8ebc2 { vertical-align: bottom; position:relative; display: inline-block; width:59%; background:none; height:auto;  }
#container_12f25c71 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:55px; background:none;  }
#container_12f25c71_padding { margin: 10px; display: block;  }
#img_2424bc03 { vertical-align: bottom; position:relative; display: inline-block; width:59%; background:none; height:auto;  }
#container_1f38b4ae { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:55px; background:none;  }
#container_1f38b4ae_padding { margin: 10px; display: block;  }
#img_41b54f75 { vertical-align: bottom; position:relative; display: inline-block; width:59%; background:none; height:auto;  }
#container_8294f55 { vertical-align: top; position:relative; display: inline-block; width:73%; min-height:570px; background:none;  }
#container_8294f55_padding { margin: 10px; display: block;  }
#heading_465fee16 { vertical-align: bottom; position:relative; display: inline-block; width:666px; height:75px; background:none; font-size:44pt; font-family:'Times New Roman', Times, serif; color:#FFFFFF; text-align:left; font-weight:bold;  }
#heading_68fc1c65 { vertical-align: bottom; position:relative; display: inline-block; width:329px; background:none; font-size:44pt; font-family:'Times New Roman', Times, serif; color:#FFFFFF; text-align:left; font-weight:bold;  }
#container_55c6bb89 { vertical-align: top; position:relative; display: inline-block; width:59%; min-height:256px; background:none;  }
#container_55c6bb89_padding { margin: 10px; display: block;  }
#heading_6990e6f8 { vertical-align: bottom; position:relative; display: inline-block; width:84px; height:44px; background:none; font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-align:left;  }
#edit_126cc6b5 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:406px; height:30px; background-color:#FFFFFF; border: 1px solid #A0A0A0; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#heading_5efb839b { vertical-align: bottom; position:relative; display: inline-block; width:79px; height:49px; background:none; font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-align:left;  }
#edit_15a6cc0e { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:406px; height:30px; background-color:#FFFFFF; border: 1px solid #A0A0A0; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#heading_26fb9b04 { vertical-align: bottom; position:relative; display: inline-block; width:84px; height:46px; background:none; font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-align:left;  }
#edit_114fb848 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:406px; height:118px; background-color:#FFFFFF; border: 1px solid #A0A0A0; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#button_14af7a0a { vertical-align: bottom; position:relative; display: inline-block; width:75px; height:30px; background-color:#657F64; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle6 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.196078);  }
.textstyle7 { font-size:26pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.196078);  }
#container_5318f513 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#F3F3F5;  }
#container_5318f513_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-weight:bold;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#heading_69c78b0a { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
