h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp6917e42{ color:#FFFFFF; text-decoration: none} 
		a.wsp6917e42:visited{ color:#FFFFFF; text-decoration: underline} 
		a.wsp6917e42:active{ color:#FFFFFF; text-decoration: underline} 
		a.wsp6917e42:hover{ color:#FFFFFF; text-decoration: underline} 
body { background-color:#004040; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_3fcc7f4 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background:none;  }
#container_505bfceb { vertical-align: top; position:relative; display: inline-block; width:124%; min-height:89px; background-color:#004040;  }
#container_505bfceb_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:left; }
#container_5e272976 { vertical-align: top; position:relative; display: inline-block; width:32%; min-height:74px; background:none;  }
#container_5e272976_padding { margin: 10px; display: block;  }
#img_695c110b { vertical-align: bottom; position:relative; display: inline-block; width:10%; background:none; height:auto;  }
.textstyle3 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-style:italic; font-weight:bold;  }
#container_7972edd1 { vertical-align: bottom; position:relative; display: inline-block; width:8%; min-height:57px; background:none;  }
#container_7972edd1_padding { margin: 10px; display: block;  }
.textstyle4 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_58d116d0 { vertical-align: bottom; position:relative; display: inline-block; width:10%; min-height:57px; background:none;  }
#container_58d116d0_padding { margin: 10px; display: block;  }
#container_3cf7bf31 { vertical-align: bottom; position:relative; display: inline-block; width:10%; min-height:57px; background:none;  }
#container_3cf7bf31_padding { margin: 10px; display: block;  }
#container_1de45226 { vertical-align: bottom; position:relative; display: inline-block; width:8%; min-height:57px; background:none;  }
#container_1de45226_padding { margin: 10px; display: block;  }
#container_6875da66 { vertical-align: bottom; position:relative; display: inline-block; width:32%; min-height:63px; background-color:#FFFFFF;  }
#container_6875da66_padding { margin: 10px; display: block;  }
#container_4d9d4930 { vertical-align: top; position:relative; display: inline-block; width:46%; min-height:40px; background:none;  }
#container_4d9d4930_padding { margin: 10px; display: block;  }
#edit_d732112 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:202px; height:30px; background-color:#FFFFFF; border: 1px solid #A0A0A0; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_6034df43 { vertical-align: top; position:relative; display: inline-block; width:28%; min-height:40px; background:none;  }
#container_6034df43_padding { margin: 10px; display: block;  }
#button_54a45994 { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:94px; height:31px; background-color:#5A4ABC; background: linear-gradient(to bottom,#5A4ABC, #282154 50%, #1F1941 50%, #16122F); border: 2px solid #2F2759;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_7080ec2e { vertical-align: top; position:relative; display: inline-block; width:23%; min-height:40px; background:none;  }
#container_7080ec2e_padding { margin: 10px; display: block;  }
#button_4d2d62e5 { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:94px; height:31px; background-color:#5A4ABC; background: linear-gradient(to bottom,#5A4ABC, #282154 50%, #1F1941 50%, #16122F); border: 2px solid #2F2759;  }
#container_799a412f { vertical-align: top; position:relative; display: inline-block; width:124%; min-height:812px; background-color:#FFFFFF; background-image: url(rc_images/andreas_niendorf_4wbkrmdjfu0_unsplash_1200x531.jpg); background-position:center left; background-size:cover;  }
#container_799a412f_padding { margin: 10px; display: block;  }
#container_1bd403be { vertical-align: top; position:relative; display: inline-block; width:10%; min-height:602px; background:none;  }
#container_1bd403be_padding { margin: 10px; display: block;  }
#container_60847136 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:260px; background:none;  }
#container_60847136_padding { margin: 10px; display: block;  }
#container_3c8fcf7b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:78px; background:none;  }
#container_3c8fcf7b_padding { margin: 10px; display: block;  }
#img_7b68d0d0 { vertical-align: bottom; position:relative; display: inline-block; width:37%; background:none; height:auto;  }
#container_515c7580 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:69px; background:none;  }
#container_515c7580_padding { margin: 10px; display: block;  }
#img_1d0743c1 { vertical-align: bottom; position:relative; display: inline-block; width:38%; background:none; height:auto;  }
#container_26e0c1a0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:78px; background:none;  }
#container_26e0c1a0_padding { margin: 10px; display: block;  }
#img_45e8418f { vertical-align: bottom; position:relative; display: inline-block; width:33%; background:none; height:auto;  }
#container_7a292da3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:69px; background:none;  }
#container_7a292da3_padding { margin: 10px; display: block;  }
#img_59fda677 { vertical-align: bottom; position:relative; display: inline-block; width:32%; background:none; height:auto;  }
#container_52eccd2c { vertical-align: top; position:relative; display: inline-block; width:89%; min-height:602px; background:none;  }
#container_52eccd2c_padding { margin: 10px; display: block;  }
#heading_30b8df1a { vertical-align: bottom; position:relative; display: inline-block; width:564px; background:none;  }
.textstyle6 { text-align:left;display: block }
.textstyle7 { font-size:54pt; font-family:'Times New Roman', Times, serif; color:#FFFFFF; font-weight:bold;  }
.textstyle8 { font-size:54pt; font-family:'Times New Roman', Times, serif; color:#000000; font-weight:bold;  }
#heading_741ded1e { vertical-align: bottom; position:relative; display: inline-block; width:486px; background:none; font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-align:left;  }
#heading_faaf907 { vertical-align: bottom; position:relative; display: inline-block; width:57px; background:none; font-size:54pt; font-family:'Times New Roman', Times, serif; color:#000000; text-align:left; font-weight:bold;  }
#heading_6c855754 { vertical-align: bottom; position:relative; display: inline-block; width:642px; background:none; font-size:54pt; font-family:'Times New Roman', Times, serif; color:#000000; text-align:left; font-weight:bold;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle10 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.196078);  }
.textstyle11 { font-size:26pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.196078);  }
